*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgba(0,0,0, 0), rgba(0,0,0, .2));
    display: flex;
    flex-wrap: wrap;

}
header{
    font-size: 75px;
    font-weight: bold;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    height: 15vh;
    width: 100vw;
    text-align: center;
    font-family: 'Ubuntu Mono', cursive;
}
.crossedOut{
    text-decoration: line-through;
    text-decoration-color: rgb(255, 0, 0);
    text-decoration-style: wavy;
}
.handWritten{
    font-family: 'Permanent Marker', cursive;
    color: rgb(255, 65, 65);
}

/* Control Panel on left */
.controls{
    width: 25%;
    height: 85vh;
    text-align: center;
}
.startButton{
    text-align: center;
    width: 80%;
    padding: 10px;
    font-weight: bold;
    font-size: 60px;
    color: rgba(255, 255, 255, 0.9);
    position: relative;
    top: 20%;
    background-color: rgb(24, 66, 206);
    border: 2px solid grey;
    border-radius: 25px;
    font-family: "Ubuntu Mono" , cursive;
}
.instruction{
    color:black;
    font-weight: bold;
    position:relative;
    top: 20%;
    margin: 4px;
}
.counter{
    color: black;
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: relative;
    top: 30%;
}


/* Card game on right */
.cardGame {
    width: 75%;
    height: 85vh;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;    
}
.flipCard {
    height: calc(25% - 10px);
    width: calc(25% - 10px);
    margin: 5px;
    position: relative;
    transition: 1s;
    transform-style: preserve-3d;
}
.cardFront, .cardBack {
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    border: 2px solid black;
    background-color: rgba(0, 217, 255, 0.4);
    border-radius: 4px;
}
.flipCard.flip{
    transform: rotateY(180deg);
}
.cardFront{
    transform: rotateY(180deg);
}